<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Top Trending Twitter Hashtags</title>
        <script src="/static/Chart.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    </head>

    <body>
        <center>
            <h2>Country Sentiment Analysis on Twitter</h2>
            <div style="width:700px;height=500px">
                <canvas id="chart"></canvas>
            </div>
        </center>

        <script>
        var intervals = []
        var ctx = document.getElementById('chart');
        var config =  {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    data: [],
                    label: "Liberals",
                    borderColor: "rgba(255,99,132,1)",
                    fill: false
                  }, {
                    data: [],
                    label: "Conservatives",
                    borderColor: "rgba(54, 162, 235, 1)",
                    fill: false
                  }, {
                    data: [],
                    label: "NDP",
                    borderColor: "orange",
                    fill: false
                  }
                ]
              },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        }
        var myChart = new Chart(ctx, config);

        setInterval(function(){
              $.getJSON('/refreshData', {
              }, function(data) {
                  // src_Labels = data.sLabel;
                  // src_Data = data.sData;
                  console.log(data)
                  liberal_data = data.liberalData
                  // console.log(liberal_data)
                  conservative_data = data.conservativeData
                  NDP_data = data.NDPData
              });
              var today = new Date();
              var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
              config.data.datasets[0].data.push(liberal_data)
              config.data.datasets[1].data.push(conservative_data)
              config.data.datasets[2].data.push(NDP_data)
              config.data.labels.push(time)
              // myChart.data.labels = src_Labels;
              // myChart.data.datasets[0].data = src_Data;
              myChart.update();
          },5000);
        </script>
    </body>
</html>
